body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #c2f0c2, #005f3f);
}

.container {
    width: 100%;
    max-width: 950px;
    background: #006b3f;
    border-radius: 15px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 20px;
    color: white;
    margin-bottom: 20px;
}

.container img {
    width: 80px;
    height: auto;
    margin-bottom: 10px;
}

.container h1 {
    font-size: 24px;
    margin: 10px 0;
}

.file-upload {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    gap: 30px;
    background-color: #c2c2c2;
    padding: 10px;
    border-radius: 8px;
}

input[type="file"] {
    display: none;
}

.file-upload label,
#fileName {
    font-size: 1rem;
    color: white;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 60px;
}

.btn {
    padding: 20px 30px;
    font-size: 1rem;
    color: white;
    background-color:  #004a2f;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #9a4bd2;
}

footer {
    text-align: center;
    padding: 10px;
    background: #004a2f;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #c2f0c2, #005f3f);
}

/* .container {
    text-align: center;
    color: #fff;
    padding: 20px;
} */

.result-card {
    background-color: #004a2f;
    border-radius: 15px;
    padding: 20px;
    width: 100%;
    max-width: 600px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    margin: auto;
}

.leaf-image {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.result-text h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.result-text h3 {
    margin-top: 20px;
    font-size: 1.2rem;
}

.result-text p {
    font-size: 1rem;
    line-height: 1.5;
    margin: 10px 0 20px;
}

.healthy {
    color: #ff0000;
}

.unhealthy {
    color: #9ee6c2;
}

.upload-button {
    background-color: #008f5a;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.upload-button:hover {
    background-color: #c62498;
}
